<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562022566304-3dl1hl3d2sod25s2h9mdoq83687ho4t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562022566304-3dl1hl3d2sod25s2h9mdoq83687ho4t0</string>
	<key>API_KEY</key>
	<string>AIzaSyAanbGxCi9-ifIRBKlzCwy-V-0pPyU3PYg</string>
	<key>GCM_SENDER_ID</key>
	<string>562022566304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gmu.Welli-iOS-Control</string>
	<key>PROJECT_ID</key>
	<string>welli-ios-control</string>
	<key>STORAGE_BUCKET</key>
	<string>welli-ios-control.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562022566304:ios:c6574c1950f310c4dcfcc5</string>
</dict>
</plist>